body{background: black;
}
p{
  color: ghostwhite;
  text-align: center;
  font-family: Monoscope;
}
h1{
  color: ghostwhite;
  text-align: center;
  font-family: Monoscope;
}

h3{
  color: ghostwhite;
  text-align: center;
  font-family: Monoscope;
}
img{
  border: palevioletred 4px solid;
  border-radius: 20px;
}
.design_img{ 
  width: 90%;
  max-width: 600px;
}

.guitar_img{ 
  width: 90%;
  max-width: 400px;
}
.toCenter{
  text-align: center;
}
