body{
  background: black;
}
p{
  color: ghostwhite;
  font-family: Monoscope;
}
h1{
  color: ghostwhite;
  text-align: center;
  font-family: Monoscope;
}

h3{
  color: ghostwhite;
  text-align: center;
  font-family: Monoscope;
}
img{
  border: palevioletred 4px solid;
  border-radius: 20px;
}
.design_img{ 
  width: 90%;
  max-width: 600px;
}

.guitar_img{ 
  width: 90%;
  max-width: 400px;
}
.toCenter{
  text-align: center;
}

.nav{
  display: flex;
  margin: 0px;
  padding: 0px;
}
.nav li {
  list-style: none;
  width: 100%;
  border: 1px solid white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav a:hover{
  background-color: #8C8C8C;
  color: black;
}
.flex{
  display: flex;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}
.gallery img{
  width: 30%;
  margin: 10px 0px;
}
.content{
  max-width: 1000px;
  margin: auto;
  line-height: 30px;
}
.content div{
  padding: 20px;
}

.footer{
  text-align: center;
  color: white;
  border-top: white solid 2px;
  padding: 20px;
  margin-top: 40px;
}
@media screen and (max-width: 800px){
  .nav{
  display: flex;
  margin: 0px;
  padding: 0px;
}
.nav li {
  list-style: none;
  width: 100%;
  border: 1px solid white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
}
  
