body{background: black;
}
p{
  color: ghostwhite;
  text-align: center;
  font-family: Monoscope;
}
h1{
  color: ghostwhite;
  text-align: center;
  font-family: Monoscope;
}

h3{
  color: ghostwhite;
  text-align: center;
  font-family: Monoscope;
}
img{
  height:200px;
  width: auto;
  border-color: palevioletred;
  border-width: 4px;
  border-style: ridge;
  border-radius: 100px;
  float: right
}
.design_img{ 
  width: 100%;
  float: left;
  margin-right: 20px;
  border-radius: 20px;
}
